<h1>ini adalah halaman about</h1>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="../img/profile.png" alt="NURIZKIANSYAH" class="img-thumbnail rounded-circle" width="200" />
      <h1 class="display-4">NURIZKIANSYAH</h1>
      <p class="lead">Software Enginer</p>
    </div>
  </div>
</div>
