.container {
    width: 600px;
    border: 5px solid blue;
    margin: auto;
    padding: 4px;

}

.satu, .dua, .tiga {
    width: 100px;
    height: 100px;

}

.satu {
    background-color: aqua;
}

.dua {
    background-color: chartreuse;
    float: right;
}

.tiga {
    background-color: darkred;
}